<% include partials/_header %>

<script src="/socket.io/socket.io.js"></script>

<canvas id="mycanvas" width="300" height="300"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
  const socket = io();
  console.log(socket);
  let counter = 0;
  socket.on('new_data', function(dataSerial) {
    //console.log('EVENTO ESCUCHADO');
    console.log(dataSerial.phone);
    var valor = dataSerial.phone;
    if (counter > 10){
      myChart.data.labels.pop();
      myChart.data.datasets.forEach(dataset => {
        dataset.data.pop();
        dataset.data.push(valor);
      });

    }else{
      myChart.data.labels.push(counter);
      myChart.data.datasets.forEach(dataset => {
        dataset.data.push(valor);
      });
    }
    counter++;
    myChart.update();
  });



  var ctx = document.getElementById("mycanvas").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ["Serial"],
          datasets: [{
            label: "Serial",
            backgroundColor: 'rgb(52, 73, 94)',
            borderColor: 'rgb(41, 128, 185)',
            data: []
          }]
      },
      options: {}
  });

</script>

<div class="container">
  <div class="row mt-5">
    <div class="col-nd-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for (var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1)%></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].address %></td>
                <td><%= data[i].phone %></td>
                <td>
                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                    <a href="/update/<%= data[i].id %>" class="btn btn-info">Modificar</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-nd-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input type="text" name="name" placeholder="Nombre" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" name="address" placeholder="Dirección" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" name="phone" placeholder="Teléfono" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" >Guardar Customer</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>



<% include partials/_footer %>
